@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
:root{
  --bg: #06070a;
}
html,body,#root{
  height:100%;
}
body{
  @apply bg-gradient-to-b from-[#03050a] to-[#071122] text-slate-100 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.container{
  max-width:1100px;
  margin-left:auto;
  margin-right:auto;
  padding-left:1rem;
  padding-right:1rem;
}
.glow {
  box-shadow: 0 6px 30px -10px rgba(56,189,248,0.12), inset 0 0 1px rgba(168,85,247,0.06);
}
